.wiki,.textfield-demo{
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	color: white;
	padding-left: 30px;
}
  .demo-card-wide.mdl-card {
    width: 1200px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('http://i.imgur.com/jIqriao.gif') repeat;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .posts{
  	padding-top: 30px;
  	padding-left: 80px;
  }
  @media(max-width: 500px) {  	
  	.posts{
    	padding-left: 10px;
    	width: 250px;    	
    	background: blue;
    	height: 50px;
    	
  	}
  }